<h1 class="display-4">Welcome to Blogpostbase</h1>
<p class="mb-4">This is a sales.js App for managin blogposts</p>
<a href="/posts/list" class="btn btn-light">View Blogposts</a>
<a href="/posts/add" class="btn btn-light">Add Blogpost</a>