/* Core Styles */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1,h2,h3{
    margin: 0;
    padding: 1em 0;
}

p{
    margin: 0;
    padding: 1em 0;
}

.btn{
    background: #333;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.btn:hover{
    background: #eaeaea;
    color: #333;
}

/* Header Showcase */
#showcase{
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image{
    position: absolute;
    background: #333 url('img/Commander2016Review_PIC2.1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.3;
}

#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap, #section-a .content-wrap{
    padding: 0 1.5em;
}

/* Section A */
#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/* Section B */
#section-b{
    padding: 2em 1em 1em;
}

#section-b ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li{
    margin-bottom: 1em;
    background: white;
    color: #333;
}

.card-content{
    padding: 1.5em;
}

/* Section C */
#section-c {
    background: white;
    color: #333;
    padding: 2em;
}

/* Section D / Boxes */
#section-d .box{
    padding: 2em;
    color: white;
}

#section-d .box:first-child{
    background: #2690d4;
}

/* Footer */
#main-footer{
    padding: 2em;
    background: black;
    color: white;
    text-align: center;
}

#main-footer a{
    color: #2690d4;
    text-decoration: none;
}

/* Media Query */
@media(min-width: 700px){
    .grid{
        display: grid;

        /*repeats 2 times a fraction with size(param1) if the minimum(param0) is reached*/
        grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
    }

    .content-wrap, 
    #section-b ul{
        /* horizontal positioning starting at 2 ranging until 4 */
        grid-column: 2/4;

    }

    .box, #main-footer div{
        /* 2 wide */
        grid-column: span 2;
    }

    #section-a .content-text{
        columns: 2;
        column-gap: 2em;
    }


    #section-a .content-text p{
        padding-top: 0;
    }

    /* Flex is only column based - grid is row and column based */
    #section-b ul{
        display: flex;
        justify-content: space-around;
    }

    #section-b li{
        width: 31%;
    }

    #showcase .bg-image{
        position: absolute;
        background: #333 url('img/Commander2016Review_PIC2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 450px;
        z-index: -1;
        opacity: 0.3;
    }
}